@model College_with_MVC.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-right">
    <div>
        <span class="alert alert-success">کاربر @Model.UserName ثبت نام شما با موفقیت انجام شد</span>
    </div>
</div>
